@import "settings";
@import "foundation.scss";

header {
  margin-top: $column-gutter/2;

  h1 {
    line-height: 95%;
  }

  $profilepic-size: 100px;

  .profilepic {
    float: left;
    margin: 0 $column-gutter/2 $column-gutter/4 0;

    img {
      width: $profilepic-size;
      height: $profilepic-size;
    }
  }

  .social {
    display: inline-block;

    // Match responsive h3 font size for social icons
    font-size: $h3-font-size - rem-calc(5);
    @media #{$medium-up} {
      font-size: $h3-font-size;
    }

    // Override LinkedIn plugin icon style (see also JS)
    .li-connect-widget .li-connect-mark {
      background: none !important;
      height: auto !important;
      width: auto !important;
      line-height: inherit !important;
      display: block !important;
    }
    .li-connect-widget.pending .li-connect-mark {
      background: image-url("loader.gif") 0 50% / auto 8px no-repeat !important;
    }

    // Make sure LinkedIn plugin iframe only shows when hovering over icon or widget (required click to close otherwise)
    .IN-widget iframe {
      display: none !important;
    }
    .IN-widget:hover iframe {
      display: block !important;
    }
  }
}

.sub-nav {
  margin-left: 0;

  > :first-child {
    margin-left: 0;
  }

  dt {
    line-height: 1.8em;
    margin-bottom: 0;
  }

  dd.active a {
    @include radius(0);
  }
}

.section {
  margin-bottom: 2 * $paragraph-margin-bottom;
}

.education, .experience {
  h3 {
    line-height: 1.1;
  }
  .details {
    color: scale-color($body-font-color, $lightness: 35%);
  }
}

.expand-button {
  display: block;
}

.experiences > .expand-button {
  margin-top: 1.5 * $paragraph-margin-bottom;
}

.project {
  .url {
    display: block;
  }
  .extended-description {
    &.collapsed {
      .expand-button {
        margin-bottom: $paragraph-margin-bottom;
      }
    }
  }
  .tags .label {
    margin-right: 0.5em;
  }
  .years {
    white-space: nowrap;
  }
}
