@font-face {
	font-family: 'fa-chevrons';
	src:url('fonts/fa-chevrons.eot?x912ku');
	src:url('fonts/fa-chevrons.eot?#iefixx912ku') format('embedded-opentype'),
		url('fonts/fa-chevrons.woff?x912ku') format('woff'),
		url('fonts/fa-chevrons.ttf?x912ku') format('truetype'),
		url('fonts/fa-chevrons.svg?x912ku#fa-chevrons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fa {
	font-family: 'fa-chevrons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-chevron-up:before {
	content: "\e600";
}
.fa-chevron-down:before {
	content: "\e601";
}
.fa-chevron-left:before {
	content: "\e602";
}
.fa-chevron-right:before {
	content: "\e603";
}
