<hr/>
<h3>{{experience.title}} <small><a href="{{experience.url}}" target="_blank" title="{{experience.urlnote}}">{{experience.company}}</a></small></h3>
<p class="details">
  {{experience.start.toDate() | date:experience.dateFormat}} – {{experience.current ? 'Present' : experience.end.toDate() | date:experience.dateFormat}}
  (<ng-pluralize
    count="experience.duration.years()"
    when="{'0': '',
           'one': '1 year',
           'other': '{} years'}">
  </ng-pluralize><span
    ng-if="experience.duration.years() > 0 && experience.duration.months() > 0"> </span><ng-pluralize
    count="experience.duration.months()"
    when="{'0': '',
           'one': '1 month',
           'other': '{} months'}">
  </ng-pluralize>)
  <br/>
  {{experience.location}}
</p>
<p>
  {{experience.description}}
</p>
<div ng-if="experience.extendeddescription" class="extended-content" ng-class="{'collapsed': !experience.extendedDescriptionVisible}">
  <a ng-click="experience.extendedDescriptionVisible = !experience.extendedDescriptionVisible" trigger-scroll-onclick class="expand-button">
    <i class="fa" ng-class="{'fa-angle-right': !experience.extendedDescriptionVisible, 'fa-angle-down': experience.extendedDescriptionVisible}"></i>
    Further description
  </a>
  <p ng-show="experience.extendedDescriptionVisible">{{experience.extendeddescription}}</p>
</div>
