---
title: Simon Engelhardt
---

<% content_for :head do %>
  <link rel="openid2.provider openid.server" href="https://www.google.com/accounts/o8/ud"/>
  <link rel="openid2.local_id openid.delegate" href="https://plus.google.com/116389327261559794480"/>
<% end %>
<p>
  Resourceful engineer, seasoned manager, and eager entrepreneur ready for new opportunities in <strong>product management</strong>, tech leadership, or software architecture.
</p>
<p>
  Feel free to <span title="or simply browse through">peruse</span> <a href="resume">my résumé</a> and please do not hesitate to get in touch.
</p>
