---
title: Simon Engelhardt
subtitle: Résumé
---

<div data-magellan-expedition="fixed" data-options="destination_threshold:60;" class="hide-for-print">
  <dl class="sub-nav">
    <dd data-magellan-arrival="experience">
      <a href="#experience">
        Experience
      </a>
      <div class="progress" dir="rtl">
        <span class="meter"></span>
      </div>
    </dd>
    <dd data-magellan-arrival="education">
      <a href="#education">
        Education
      </a>
      <div class="progress" dir="rtl">
        <span class="meter"></span>
      </div>
    </dd>
    <dd data-magellan-arrival="info" class="hide-for-small-only">
      <a href="#info">
        Info
      </a>
      <div class="progress" dir="rtl">
        <span class="meter"></span>
      </div>
    </dd>
  </dl>
</div>
<div ng-app="resumeApp" ng-cloak>
  <div id="experience" ng-controller="ExperienceCtrl" class="section experiences" data-magellan-destination="experience" se-scroll-progress-meter='[data-magellan-arrival="experience"] .progress .meter'>
    <h2>Experience</h2>
    <ul class="no-bullet">
      <li ng-repeat="experience in primaryExperiences" class="experience" ng-include="'/resume/partials/experience.html'">
      </li>
    </ul>
    <div class="extended-content hide-for-print" ng-class="{'collapsed': !secondaryExperiencesVisible}">
      <a ng-click="secondaryExperiencesVisible = !secondaryExperiencesVisible" trigger-scroll-onclick class="expand-button">
        <i class="fa" ng-class="{'fa-angle-right': !secondaryExperiencesVisible, 'fa-angle-down': secondaryExperiencesVisible}"></i>
        Secondary (earlier and part-time) work experience
      </a>
      <ul ng-show="secondaryExperiencesVisible" class="no-bullet">
        <li ng-repeat="experience in secondaryExperiences" class="experience" ng-include="'/resume/partials/experience.html'">
        </li>
      </ul>
    </div>
  </div>
  <div id="education" ng-controller="EducationCtrl" class="section" data-magellan-destination="education" se-scroll-progress-meter='[data-magellan-arrival="education"] .progress .meter'>
    <h2>Education</h2>
    <ul class="no-bullet">
      <li ng-repeat="education in educations" class="education" ng-class="{'hide-for-print': education.secondary}">
        <h3>
          {{education.degree}}, {{education.field}}
          <small><a href="{{education.url}}" target="_blank">{{education.school}}</a></small>
        </h3>
        <div class="timeline" ng-show="education.years">
          <span ng-repeat="year in allYears" class="year" ng-style="{width: 100/allYears.length + '%'}" ng-class="{active: education.years.indexOf(year) !== -1, first: education.years.indexOf(year) === 0, last: education.years.indexOf(year) === education.years.length - 1}">{{year}}</span>
        </div>
        <p class="details">
          {{education.start.toDate() | date:'yyyy'}} – {{education.end.toDate() | date:'yyyy'}}, {{education.location}}
        </p>
        <p>
          {{education.description}}
        </p>
        <div ng-if="education.thesis">
          <strong>Thesis: <em>{{education.thesis}}</em></strong>
          <p>
            {{education.thesisdescription}}
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div id="info" ng-controller="InfoCtrl" class="section" data-magellan-destination="info" se-scroll-progress-meter='[data-magellan-arrival="info"] .progress .meter'>
    <h2>Info</h2>
    <ul class="no-bullet">
      <li class="fi-marker" title="Location">
        <div class="location">
          Copenhagen, Denmark
        </div>
      </li>
      <li class="fi-power" title="Birthday">
        {{birthdate.toDate() | date}} (age {{age}})
      </li>
      <li class="fi-male-female" title="Maritial Status">
        Married
      </li>
      <li class="fi-comments" title="Languages">
        <ul class="languages no-bullet">
          <li>
            English, Danish <small>Native or bilingual proficiency</small>
          </li>
          <li>
            German <small>Limited working proficiency</small>
          </li>
          <li>
            French, Spanish <small>Elementary proficiency</small>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<% content_for :footer do %>
<p>
  <small><i class="fi-print"></i> This résumé <a href="javascript:window.print()">prints</a> nicely to PDF or on paper.</small>
</p>
<p>
  <a href="#top" title="Back to top"><i class="fa fa-angle-up"></i></a>
</p>
<% end %>
