---
title: Simon Engelhardt
subtitle: Résumé
---

<div data-magellan-expedition="fixed" data-options="destination_threshold:80;">
  <dl class="sub-nav">
    <dd data-magellan-arrival="experience">
      <a href="#experience">
        Experience
      </a>
      <div class="progress" dir="rtl">
        <span class="meter"></span>
      </div>
    </dd>
    <dd data-magellan-arrival="education">
      <a href="#education">
        Education
      </a>
      <div id="education-progress" class="progress" dir="rtl">
        <span class="meter"></span>
      </div>
    </dd>
    <dd data-magellan-arrival="projects">
      <a href="#projects">
        Selected projects
      </a>
      <div id="projects-progress" class="progress" dir="rtl">
        <span class="meter"></span>
      </div>
    </dd>
  </dl>
</div>
<div ng-app="resumeApp" ng-cloak>
  <div id="experience" ng-controller="ExperienceCtrl" class="section experiences" data-magellan-destination="experience" scroll-progress-meter='[data-magellan-arrival="experience"] .progress .meter'>
    <h2>Experience</h2>
    <ul class="no-bullet" ng-model="primaryExperiences">
      <li ng-repeat="experience in primaryExperiences" class="experience" ng-include="'/resume/partials/experience.html'">
      </li>
    </ul>
    <hr/>
    <a ng-click="secondaryExperiencesVisible = !secondaryExperiencesVisible" trigger-scroll-onclick class="expand-button">
      <i ng-class="{'fi-plus': !secondaryExperiencesVisible, 'fi-minus': secondaryExperiencesVisible}"></i>
      Secondary (earlier and part-time) work experience
    </a>
    <ul ng-show="secondaryExperiencesVisible" class="no-bullet" ng-model="secondaryExperiences">
      <li ng-repeat="experience in secondaryExperiences" class="experience" ng-include="'/resume/partials/experience.html'">
      </li>
    </ul>
  </div>
  <div id="education" ng-controller="EducationCtrl" class="section" data-magellan-destination="education" scroll-progress-meter='[data-magellan-arrival="education"] .progress .meter'>
    <h2>Education</h2>
    <ul class="no-bullet">
      <li ng-repeat="education in educations" class="education">
        <hr/>
        <h3>
          {{education.degree}}, {{education.field}}
          <small><a href="{{education.url}}" target="_blank">{{education.school}}</a></small>
        </h3>
        <p class="details">
          {{education.start.toDate() | date:'yyyy'}} – {{education.end.toDate() | date:'yyyy'}}
          <br/>
          {{education.location}}
        </p>
        <p>
          {{education.description}}
        </p>
        <dl ng-if="education.thesis">
          <dt>Thesis</dt>
          <dd>{{education.thesis}}</dd>
        </dl>
      </li>
    </ul>
  </div>
  <div id="projects" ng-controller="ProjectsCtrl" class="section" data-magellan-destination="projects" scroll-progress-meter='[data-magellan-arrival="projects"] .progress .meter'>
    <h2>Selected projects</h2>
    <form>
      <label>
        Filter by role<br/>
        <select ng-model="selectedRole" ng-options="role for role in roles" class="large-4 medium-5"></select>
      </label>
    </form>
		<ul class="no-bullet">
			<li ng-repeat="project in projects | filter:roleFilter" class="project">
        <hr/>
				<h3>{{project.client}} <small>{{project.title}}</small></h3>
				<small class="url">
					<a href="{{project.url}}" target="_blank" title="{{project.urlnote}}">
						<img ng-if="project.icon" width="16px" height="16px" ng-src="{{project.icon}}">
						{{project.url}}
					</a>
				</small>
				<p>{{project.description}}</p>
				<div ng-if="project.extendeddescription" class="extended-description" ng-class="{'collapsed': !project.extendedDescriptionVisible}">
					<a ng-click="project.extendedDescriptionVisible = !project.extendedDescriptionVisible" trigger-scroll-onclick class="expand-button">
						<i ng-class="{'fi-plus': !project.extendedDescriptionVisible, 'fi-minus': project.extendedDescriptionVisible}"></i>
						Further description
					</a>
					<p ng-show="project.extendedDescriptionVisible">{{project.extendeddescription}}</p>
				</div>
				<h4>Roles</h4>
				<p class="tags">
					<span ng-repeat="role in project.roles" class="label">{{role}}</span>
				</p>
				<h4>Years</h4>
				<p class="years">
					<span ng-repeat="year in allYears" class="label" ng-class="{secondary: project.years.indexOf(year) ===  -1}">{{year}}</span>
				</p>
				<h4>Tech</h4>
				<p class="tags">
					<span ng-repeat="tech in project.techs" class="label">{{tech}}</span>
				</p>
			</li>
		</ul>
  </div>
  <div id="additional-info" ng-controller="InfoCtrl">
    <h2>Additional Info</h2>
    <dl>
      <dt>Birthday</dt>
      <dd>{{birthdate.toDate() | date}} ({{age}} years)</dd>
    </dl>
  </div>
</div>
