---
title: Simon Engelhardt
subtitle: Résumé
---

<div ng-app="resumeApp" ng-cloak>
  <div ng-controller="EducationCtrl">
    <h2>Education</h2>
    <ul class="no-bullet">
      <li ng-repeat="education in educations" class="education">
        <hr/>
        <h3>
          {{education.degree}}, {{education.field}}
          <small><a href="{{education.url}}" target="_blank">{{education.school}}</a></small>
        </h3>
        <p class="details">
          {{education.start.toDate() | date:'yyyy'}} – {{education.end.toDate() | date:'yyyy'}}
          <br/>
          {{education.location}}
        </p>
        <p>
          {{education.description}}
        </p>
        <dl ng-if="education.thesis">
          <dt>Thesis</dt>
          <dd>{{education.thesis}}</dd>
        </dl>
      </li>
    </ul>
  </div>
  <div ng-controller="ExperienceCtrl">
    <h2>Experience</h2>
    <ul class="no-bullet">
      <li ng-repeat="experience in experiences" class="experience">
        <hr/>
        <h3>{{experience.title}} <small>{{experience.company}}</small></h3>
        <p class="details">
          {{experience.start.toDate() | date:'MMMM yyyy'}} – {{experience.current ? 'Present' : experience.end.toDate() | date:'MMMM yyyy'}}
          (<ng-pluralize
            count="experience.duration.years()"
            when="{'0': '',
                   'one': '1 year',
                   'other': '{} years'}">
          </ng-pluralize><ng-pluralize
            count="experience.duration.years() + experience.duration.months()"
            when="{'0': '',
                   'one': '',
                   'other': ' '}">
          </ng-pluralize><ng-pluralize
            count="experience.duration.months()"
            when="{'0': '',
                   'one': '1 month',
                   'other': '{} months'}">
          </ng-pluralize>)
          <br/>
          {{experience.location}}
        </p>
        <p>
          {{experience.description}}
        </p>
      </li>
    </ul>
  </div>
  <div ng-controller="ProjectsCtrl">
		<h2>Selected projects</h2>
    <form>
      <label>
        Filter by role<br/>
        <select ng-model="selectedRole" ng-options="role for role in roles" class="large-4 medium-5"></select>
      </label>
    </form>
		<ul class="no-bullet">
			<li ng-repeat="project in projects | filter:roleFilter" class="project">
        <hr/>
				<h3>{{project.client}} <small>{{project.title}}</small></h3>
				<small class="url">
					<a href="{{project.url}}" target="_blank" title="{{project.urlnote}}">
						<img ng-if="project.icon" width="16px" height="16px" ng-src="{{project.icon}}">
						{{project.url}}
					</a>
				</small>
				<p>{{project.description}}</p>
				<div ng-if="project.extendeddescription" class="extended-description" ng-class="{'collapsed': !project.extendedDescriptionVisible}">
					<a ng-click="project.extendedDescriptionVisible = !project.extendedDescriptionVisible" class="expand-button">
						<i ng-class="{'fi-plus': !project.extendedDescriptionVisible, 'fi-minus': project.extendedDescriptionVisible}"></i>
						Further description
					</a>
					<p ng-show="project.extendedDescriptionVisible">{{project.extendeddescription}}</p>
				</div>
				<h4>Roles</h4>
				<p class="tags">
					<span ng-repeat="role in project.roles" class="label">{{role}}</span>
				</p>
				<h4>Years</h4>
				<p class="years">
					<span ng-repeat="year in allYears" class="label" ng-class="{secondary: project.years.indexOf(year) ===  -1}">{{year}}</span>
				</p>
				<h4>Tech</h4>
				<p class="tags">
					<span ng-repeat="tech in project.techs" class="label">{{tech}}</span>
				</p>
			</li>
		</ul>
  </div>
</div>